[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
requests = "*"
python-dotenv = "*"
twitter = "*"
apscheduler = "*"
requests_oauthlib = "*"
numpy = "*"
pandas = "*"
mecab-python3 = "*"
janome = "*"
gensim = "*"
matplotlib = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"
